
body {
    display: flex;
    justify-content: center;
    font-family: monospace;
}

.conteiner {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 400px;
    background-color: rgb(221, 218, 218);
    border-style: solid;
    border-radius: 20px;
    padding: 15px;
    margin-top: 10%;
}

input {
    border-radius: 5px;
    border: 0px;
}

.error {
    display: none;
    position: absolute;
    color: red;
    font-size: small;
    left: 30%;
}

.info-conversion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    max-width: 1000px;
    background-color: rgb(255, 255, 255);
    margin-top: 30%;
}